<div>
    <sub>General</sub>

    <!-- Conf/Card -->
    <div class="form-group">
        <div class="input-group input-group-sm" style="width: 100%;">
            <div class="input-group-addon">Conf/Card:</div>
            <select class="form-control input-sm" style="width: 50%;" ng-model="selectedNode.Constraint.Conformance" ng-change="templateChanged()">
                <option>SHALL</option>
                <option>SHOULD</option>
                <option>MAY</option>
                <option>SHALL NOT</option>
                <option>SHOULD NOT</option>
                <option>MAY NOT</option>
            </select>
            <div class="input-group input-group-sm cardinality" style="width:50%; padding-top: 0px">
                <input class="span2 form-control" id="appendedInputButton" size="16" type="text" ng-model="selectedNode.Constraint.Cardinality" ng-change="templateChanged()">
                <div class="input-group-btn">
                    <a class="dropdown-toggle btn btn-primary btn-sm" data-toggle="dropdown" href="#">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#" ng-click="selectedNode.Constraint.Cardinality = '0..0'">0..0</a></li>
                        <li><a href="#" ng-click="selectedNode.Constraint.Cardinality = '0..1'">0..1</a></li>
                        <li><a href="#" ng-click="selectedNode.Constraint.Cardinality = '0..*'">0..*</a></li>
                        <li><a href="#" ng-click="selectedNode.Constraint.Cardinality = '1..1'">1..1</a></li>
                        <li><a href="#" ng-click="selectedNode.Constraint.Cardinality = '1..*'">1..*</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Data Type -->
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">
                <span>Data Type:</span>
                <i class="glyphicon glyphicon-question-sign clickable" uib-tooltip="The schema may allow the use of xsi:type (derived types) for this node. If so, the possible derived types are displayed in the drop-down list. Selecting a different data-type (other than default) may change the elements/attributes available within the selected node." tooltip-placement="right" tooltip-trigger="'click'"></i>
            </div>
            <select class="form-control input-sm" ng-model="selectedNode.Constraint.DataType" ng-options="d for d in getDataTypes(selectedNode)" ng-change="dataTypeChanged(selectedNode)">
                <option value="">DEFAULT</option>
            </select>
        </div>
    </div>

    <!-- Branching -->
    <div class="form-group">
        <div class="input-group input-group-sm branching">
            <div class="input-group-addon">Branch/Slice:</div>
            <div class="form-control">
                <input type="checkbox" name="Branching" ng-model="selectedNode.Constraint.IsBranch" ng-change="templateChanged()">&nbsp;<span>Root</span><br>
                <input type="checkbox" name="Branching" ng-model="selectedNode.Constraint.IsBranchIdentifier" ng-change="templateChanged()">&nbsp;<span>Identifier/Discriminator</span>
            </div>
        </div>
    </div>

    <!-- Contained Template/Profile -->
    <div class="form-group">
        <template-select caption="Template/Profile:" size="sm" template-id="selectedNode.Constraint.ContainedTemplateId" allow-new="true" implementation-guide-id="template.OwningImplementationGuideId" restrict-type="!isFhir" restricted-type="selectedNode.Constraint.DataType || selectedNode.DataType"></template-select>
    </div>

    <hr />
    <sub>Bindings</sub>

    <!-- Binding Type -->
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">
                Binding Type:
                <i class="glyphicon glyphicon-question-sign clickable" uib-tooltip="Each binding type makes use of different fields, based on common use cases. The Other binding type provides all fields, and allows the designer to determine what fields apply to the constraint." tooltip-placement="right" tooltip-trigger="'click'"></i>
            </div>
            <select class="form-control input-sm" ng-model="selectedNode.Constraint.$$bindingType" ng-change="templateChanged()">
                <option value="">None</option>
                <option value="SingleValue">Single Value</option>
                <option value="ValueSet">Value Set</option>
                <option value="CodeSystem">Code System</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-if="['SingleValue', 'Other'].indexOf(selectedNode.Constraint.$$bindingType) >= 0">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">Code/Display</div>
            <input type="text" class="form-control" placeholder="Code" style="width: 50%;" ng-model="selectedNode.Constraint.Value" ng-change="templateChanged()" />
            <input type="text" class="form-control" placeholder="Display" style="width: 50%;" ng-model="selectedNode.Constraint.ValueDisplayName" ng-change="templateChanged()" />
        </div>
    </div>

    <div class="form-group" ng-if="['ValueSet', 'Other'].indexOf(selectedNode.Constraint.$$bindingType) >= 0">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">Value Set</div>
            <input type="text" class="form-control" placeholder="Type to search..." ng-change="templateChanged()" uib-typeahead="vs as vs.Display for vs in getValueSets($viewValue)" ng-model="selectedNode.Constraint.ValueSetId" />
        </div>
    </div>

    <div class="form-group" ng-if="['ValueSet', 'Other'].indexOf(selectedNode.Constraint.$$bindingType) >= 0">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">Binding Date</div>
            <input type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-change="templateChanged()" is-open="selectedNode.Constraint.$$valueSetDateOpen" ng-model="selectedNode.Constraint.ValueSetDate" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="selectedNode.Constraint.$$valueSetDateOpen = !selectedNode.Constraint.$$valueSetDateOpen">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="form-group" ng-if="['SingleValue', 'ValueSet', 'CodeSystem', 'Other'].indexOf(selectedNode.Constraint.$$bindingType) >= 0">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">Code System</div>
            <input type="text" class="form-control" ng-model="selectedNode.Constraint.CodeSystemId" ng-change="templateChanged()" placeholder="Type to search..." uib-typeahead="cs as cs.Display for cs in getCodeSystems($viewValue)" />
        </div>
    </div>

    <hr />
    <sub>Publishing</sub>

    <!-- Is Heading -->
    <div class="form-group is-heading">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">
                Heading:
                <i class="glyphicon glyphicon-question-sign clickable" uib-tooltip="Flags the constraint as a heading constraint. This is typically used for constraints that encompass many child and grand-child constraints. An example of this is in CDA with recordTarget, informationRecipient, etc. The heading level determines the font style/size to use for the heading in the MSWord and HTML exports." tooltip-placement="right" tooltip-trigger="'click'"></i>
            </div>
            <select class="form-control input-sm" ng-model="selectedNode.Constraint.IsHeading" ng-change="templateChanged()">
                <option ng-value="false">No</option>
                <option ng-value="true">Yes</option>
            </select>
            <select class="form-control input-sm" ng-model="selectedNode.Constraint.HeadingLevel" ng-disabled="!selectedNode.Constraint.IsHeading" ng-change="templateChanged()">
                <option value="">LEVEL</option>
                <option ng-value="1">Level 1</option>
                <option ng-value="2">Level 2</option>
                <option ng-value="3">Level 3</option>
                <option ng-value="4">Level 4</option>
                <option ng-value="5">Level 5</option>
            </select>
        </div>
    </div>

    <!-- Heading Description -->
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-addon" title="Exported before constraint">
                <span>Heading<br/>Description:</span>
                <i class="glyphicon glyphicon-question-sign clickable" uib-tooltip="TODO: Determine where HeadingDescription is used, and describe here." tooltip-placement="right" tooltip-trigger="'click'"></i>
            </div>
            <textarea class="form-control input-sm" style="height: 50px;" ng-model="selectedNode.Constraint.HeadingDescription" ng-disabled="!selectedNode.Constraint.IsHeading" ng-change="templateChanged()"></textarea>
        </div>
    </div>

    <!-- Description -->
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-addon" title="Exported before constraint">
                <span>Description:</span>
                <i class="glyphicon glyphicon-question-sign clickable" uib-tooltip="TODO: Determine where Description is used, and describe here." tooltip-placement="right" tooltip-trigger="'click'"></i>
            </div>
            <textarea class="form-control input-sm" style="height: 50px;" ng-model="selectedNode.Constraint.Description" ng-change="templateChanged()"></textarea>
        </div>
    </div>

    <!-- Label -->
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">
                <span>Label:</span>
                <i class="glyphicon glyphicon-question-sign clickable" uib-tooltip="TODO: Determine where Label is used, and describe here." tooltip-placement="right" tooltip-trigger="'click'"></i>
            </div>
            <input type="text" class="form-control input-sm" ng-model="selectedNode.Constraint.Label" ng-change="templateChanged()" />
        </div>
    </div>

    <hr />
    <sub>Schematron</sub>

    <!-- Inheritable -->
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">
                <span>Inheritable</span>
                <i class="glyphicon glyphicon-question-sign clickable" uib-tooltip="Determines if the constraint's schematron should be placed in the abstract rule (so that it is inheritable where the rule is re-used in containing templates) or in the instance-only rule.'" tooltip-placement="right" tooltip-trigger="'click'"></i>
            </div>
            <select class="form-control" ng-model="selectedNode.Constraint.IsInheritable" ng-change="templateChanged()">
                <option ng-value="true">Yes</option>
                <option ng-value="false">No</option>
            </select>
        </div>
    </div>

    <!-- Rooted -->
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">
                <span>Rooted:</span>
                <i class="glyphicon glyphicon-question-sign clickable" uib-tooltip="Applies primarily to constraints within branches. When rooted, does not used the context of the branch, uses the root context of the template/profile." tooltip-placement="right" tooltip-trigger="'click'"></i>
            </div>
            <select class="form-control" ng-model="selectedNode.Constraint.IsSchRooted" ng-change="templateChanged()">
                <option ng-value="false">No</option>
                <option ng-value="true">Yes</option>
            </select>
        </div>
    </div>

    <!-- Custom Schematron -->
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">
                <span>Schematron:</span>
                <i class="glyphicon glyphicon-question-sign clickable" uib-tooltip="Schematron is automatically generated for all computable constraints. Optionally, you may override the automatically generated schematron with this field. For primitive constraints, you must specify schematron using this field, or it will be ignored during schematron validation." tooltip-placement="right" tooltip-trigger="'click'"></i>
            </div>
            <textarea class="form-control input-sm" style="height: 50px" placeholder="Leave empty to auto-generate schematron" ng-model="selectedNode.Constraint.Schematron" ng-change="templateChanged()"></textarea>
        </div>
    </div>
</div>