<div>
    <sub>General</sub>

    <!-- Conf/Card -->
    <div class="form-group">
        <div class="input-group input-group-sm" style="width: 100%;">
            <div class="input-group-addon">Conf/Card:</div>
            <select class="form-control input-sm" style="width: 50%;" ng-model="selectedNode.Constraint.Conformance">
                <option>SHALL</option>
                <option>SHOULD</option>
                <option>MAY</option>
                <option>SHALL NOT</option>
                <option>SHOULD NOT</option>
                <option>MAY NOT</option>
            </select>
            <div class="input-group input-group-sm cardinality" style="width:50%; padding-top: 0px">
                <input class="span2 form-control" id="appendedInputButton" size="16" type="text" ng-model="selectedNode.Constraint.Cardinality">
                <div class="input-group-btn">
                    <a class="dropdown-toggle btn btn-primary btn-sm" data-toggle="dropdown" href="#">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#" ng-click="selectedNode.Constraint.Cardinality = '0..0'">0..0</a></li>
                        <li><a href="#" ng-click="selectedNode.Constraint.Cardinality = '0..1'">0..1</a></li>
                        <li><a href="#" ng-click="selectedNode.Constraint.Cardinality = '0..*'">0..*</a></li>
                        <li><a href="#" ng-click="selectedNode.Constraint.Cardinality = '1..1'">1..1</a></li>
                        <li><a href="#" ng-click="selectedNode.Constraint.Cardinality = '1..*'">1..*</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Data Type -->
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">
                <span>Data Type:</span>
                <span class="glyphicon glyphicon-question-sign clickable"></span>
            </div>
            <select class="form-control input-sm">
                <option value="">DEFAULT</option>
            </select>
        </div>
    </div>

    <!-- Branching -->
    <div class="form-group">
        <div class="input-group input-group-sm branching">
            <div class="input-group-addon">Branch/Slice:</div>
            <div class="form-control">
                <input type="checkbox" name="Branching">&nbsp;<span>Root</span><br>
                <input type="checkbox" name="Branching">&nbsp;<span>Identifier/Discriminator</span>
            </div>
        </div>
    </div>

    <!-- Contained Template/Profile -->
    <div class="form-group">
        <template-select caption="Template/Profile:" size="sm"></template-select>
    </div>

    <hr />
    <sub>Bindings</sub>

    <!-- Binding Type -->
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">
                Binding Type:
                <i class="glyphicon glyphicon-question-sign clickable"></i>
            </div>
            <select class="form-control input-sm">
                <option value="None">None</option>
                <option value="SingleValue">Single Value</option>
                <option value="ValueSet">Value Set</option>
                <option value="CodeSystem">Code System</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>

    <hr />
    <sub>Publishing</sub>

    <!-- Is Heading -->
    <div class="form-group is-heading">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">
                Heading:
                <i class="glyphicon glyphicon-question-sign clickable"></i>
            </div>
            <select class="form-control input-sm">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
            <select class="form-control input-sm" disabled="disabled">
                <option value="">LEVEL</option>
                <option value="1">Level 1</option>
                <option value="2">Level 2</option>
                <option value="3">Level 3</option>
                <option value="4">Level 4</option>
                <option value="5">Level 5</option>
            </select>
        </div>
    </div>

    <!-- Description -->
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-addon" title="Exported before constraint">Description:</div>
            <textarea class="form-control input-sm" style="height: 50px;"></textarea>
        </div>
    </div>

    <!-- Label -->
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-addon" title="Exported at end of constraint">Label:</div>
            <input type="text" class="form-control input-sm" />
        </div>
    </div>

    <!-- Heading -->
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">
                Heading:&nbsp;
                <input type="checkbox" />
            </div>
            <textarea class="form-control input-sm" style="height: 50px;" placeholder="Heading Description" disabled="disabled"></textarea>
        </div>
    </div>

    <hr />
    <sub>Schematron</sub>

    <!-- Auto Generate -->
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">
                Auto Generate:
            </div>
            <select class="form-control">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
    </div>

    <!-- Inheritable -->
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">
                Inheritable:
            </div>
            <select class="form-control" disabled="disabled">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
    </div>

    <!-- Rooted -->
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">
                Rooted:
            </div>
            <select class="form-control" disabled="disabled">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
        </div>
    </div>

    <!-- Custom Schematron -->
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">
                Schematron:
            </div>
            <textarea class="form-control input-sm" style="height: 50px" disabled="disabled"></textarea>
        </div>
    </div>
</div>