<div ng-controller="EditorTemplateSearchController">
    <form>
        <div class="input-group">
            <input type="text" placeholder="Search Text" class="form-control" ng-model="templateSearch.query" />
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="searchTemplates()">Search</button>
            </div>
        </div>
    </form>

    <table class="table table-striped" ng-if="templateSearch.results">
        <thead>
            <tr>
                <th>Name</th>
                <th>Identifier</th>
                <th class="search-actions">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="t in templateSearch.results.Items">
                <td>
                    <p>{{t.Name}}</p>
                    <sub ng-show="t.Description">{{t.Description}}</sub>
                </td>
                <td>{{t.Oid}}</td>
                <td>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm" title="Load in this editor window" ng-click="openTemplate(t.Id, false)">
                                <i class="glyphicon glyphicon-open"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-sm" title="Load in new editor window" ng-click="openTemplate(t.Id, true)">
                                <i class="glyphicon glyphicon-new-window"></i>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr ng-if="templateSearch.results.Items.length == 0">
                <td colspan="3">No results</td>
            </tr>
            <tr ng-if="templateSearch.results.Items.length > 0">
                <td colspan="3">
                    <strong>Total: {{templateSearch.results.Items.length}}</strong>
                </td>
            </tr>
        </tfoot>
    </table>
</div>