<div class="tree-grid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Context</th>
                <th class="number-col-head">
                    <input type="text" class="form-control" placeholder="Number" title="Enter a constriant number and press <enter> to search." ng-model="numberSearch" ng-change="numberSearchChanged()" ng-model-options="{ debounce: 500 }" />
                </th>
                <th>Conf.</th>
                <th>Card.</th>
                <th>DataType</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr class="clickable constraint-row" ng-repeat="node in flattenedNodes" ng-click="toggleSelect(node)" ng-class="{ 'highlight': node.Constraint, 'danger': selectedNode == node }">
                <td>
                    <span style="white-space: pre">{{getNodeTabs(node)}}</span>
                    <i ng-if="node.HasChildren" class="glyphicon clickable" ng-class="{ 'glyphicon-plus': !node.$expanded, 'glyphicon-minus': node.$expanded }" ng-click="toggleExpand(node)"></i>
                    {{node.Context}}
                    <i ng-if="!isNodeValid(node)" class="glyphicon glyphicon-exclamation-sign" title="{{node.$$message}}"></i>
                </td>
                <td>{{getCellDisplay(node, 'DisplayNumber', 'Number')}}</td>
                <td>{{getCellDisplay(node, 'Conformance')}}</td>
                <td>{{getCellDisplay(node, 'Cardinality')}}</td>
                <td>{{getCellDisplay(node, 'DataType')}}</td>
                <td>{{getCellDisplay(node, 'Value')}}</td>
            </tr>
        </tbody>
    </table>
</div>