<script src="/Scripts/knockout-2.1.0.js"></script>
<script src="/Scripts/jquery.blockUI.js"></script>
<script src="/Scripts/knockout.programmatic.js"></script>

<script src="/Scripts/jquery.clearsearch.js"></script>
<script src="/Scripts/TemplateSearch.ko.extensions.js"></script>
<script src="~/Scripts/IgLandingPageViewModel.js"></script>

<link href="/Styles/easyui-themes/default/easyui.css" rel="stylesheet" type="text/css">
<link href="/Styles/ui-lightness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
<link href="~/Styles/Template-3.0.css" rel="stylesheet" />

<div style="margin-bottom: 20px">
    <a href="/Account/IGManagement/EditImplementationGuide.aspx">add new Implementation Guide</a>
</div>

<div style="display: inline-block; width: 100%">
    <h1 id="pageResultsHeader" style="display: inline-block"><span data-bind="text: headerText"></span></h1>
    <span data-dropdown="#export-menu">
        <img src="/images/disc.png" height="24" style="margin-left: 12px; vertical-align: middle" title="Export Search Results" /></span>
</div>

<ol id="igsList" data-bind="foreach: igModel.igs" 
    data-controller-recent-igs-url="@Url.Action("GetRecentImplementationGuides")" 
    data-controller-find-igs-url="@Url.Action("FindImplementationGuide")"
    data-controller-get-igs-name-matches="@Url.Action("GetImplementationGuideNameMatches")">
    <li style="margin-top: 0; margin-bottom: 20px; list-style: none; line-height: 1.2;">
        <div style="display: inline-block">
            <h3>
                <a class="search-result-header" data-bind="attr: {href: '/Account/IGManagement/EditImplementationGuide.aspx?id=' + Id, title: 'View ' + Name}, text: Name" target="_blank"></a>
                <img width="20px" title="Delete This Template" style="margin-left: 4px; margin-right: 4px" src="/images/trash.png" />
            </h3>
            <div style="display: block">
                <div style="display: block; margin-bottom: 1px;">
                    <cite>Bla bla implementation Guide</cite>
                </div>
                <span class="description">This is where the description for <em>Result</em> goes. It should probably be a few sentences long</span>
            </div>
        </div>
    </li>
</ol>