<?xml version="1.0" encoding="utf-8" ?>
<Trifolia.Generation.Properties.Settings>
  <setting name="ConformanceVerbStyle" serializeAs="String">
    <value>keyword</value>
  </setting>
  <setting name="TemplateLocationStyle" serializeAs="String">
    <value>BracketData</value>
  </setting>
  <setting name="CardinalityStyle" serializeAs="String">
    <value>normal</value>
  </setting>
  <setting name="ConstraintContextStyle" serializeAs="String">
    <value>XMLnameBold</value>
  </setting>
  <setting name="NarrativeStyle" serializeAs="String">
    <value>normal</value>
  </setting>
  <setting name="VocabularyConstraintStyle" serializeAs="String">
    <value>XMLname</value>
  </setting>
  <setting name="LinkStyle" serializeAs="String">
    <value>HyperlinkCourierBold</value>
  </setting>
  <setting name="TableHeadingStyle" serializeAs="String">
    <value>TableHead</value>
  </setting>
  <setting name="TableContentStyle" serializeAs="String">
    <value>TableText</value>
  </setting>
  <setting name="TemplateDescriptionStyle" serializeAs="String">
    <value>BodyText</value>
  </setting>
  <setting name="TemplateHeaderStyle" serializeAs="String">
    <value>Heading2nospace</value>
  </setting>
  <setting name="TemplateTypeHeadingStyle" serializeAs="String">
    <value>Heading1</value>
  </setting>
  <setting name="TableLinkStyle" serializeAs="String">
    <value>HyperlinkText9pt</value>
  </setting>
  <setting name="TemplateTypeDetailsStyle" serializeAs="String">
    <value>BodyText</value>
  </setting>
  <setting name="TemplateOidStyle" serializeAs="String">
    <value>XMLname</value>
  </setting>
  <setting name="BlankLinkText" serializeAs="String">
    <value>BodyText</value>
  </setting>
  <setting name="TemplateNotesStyle" serializeAs="String">
    <value>templatenotes</value>
  </setting>
  <setting name="TableCaptionStyle" serializeAs="String">
    <value>Caption</value>
  </setting>
  <setting name="VocabularyServiceValueSetFormat" serializeAs="String">
    <value>http://localhost:49366/api/Terminology/Export/ValueSet/{0}</value>
  </setting>
  <setting name="VocabularyServiceImplementationGuideFormat" serializeAs="String">
    <value>http://localhost:49366/api/Terminology/Export/ImplementationGuide/{0}</value>
  </setting>
  <setting name="VocabularyPrefix" serializeAs="String">
    <value>voc</value>
  </setting>
  <setting name="TemplateHeaderSecondLevelStyle" serializeAs="String">
    <value>Heading3nospace</value>
  </setting>
  <setting name="PropertiesHeadingStyle" serializeAs="String">
    <value>Heading3nospace</value>
  </setting>
  <setting name="ConstraintHeadingStyle" serializeAs="String">
    <value>Heading4nospace</value>
  </setting>
  <setting name="ExportXmlDisclaimer" serializeAs="String">
    <value>
      The export template XML file format definition is subject to change without notice, and continued
      availability should not be construed as a commitment by Lantana Consulting Group LLC.
      Lantana Consulting Group LLC assumes no responsibility or liability including incomplete data,
      errors, or impacts caused by changes to this XML file format definition.
    </value>
  </setting>
</Trifolia.Generation.Properties.Settings>