<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="bookmark" type="Trifolia.Config.BookmarkSection, Trifolia.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
    <section name="toolTip" type="Trifolia.Config.ToolTipSection, Trifolia.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
    <section name="codeSystems" type="Trifolia.Config.CodeSystemsSection, Trifolia.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
    <section name="igTypes" type="Trifolia.Config.IGTypeSection, Trifolia.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
    <section name="jira" type="Trifolia.Config.JiraSection, Trifolia.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Trifolia.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Trifolia.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Trifolia.Generation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Trifolia.Authentication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Trifolia.Authorization.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TrifoliaDatabase" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSSQLSERVER;initial catalog=templatedb;multipleactiveresultsets=True;Integrated Security=true;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics-->
  <!-- Bookmark Abbreviations -->
  <bookmark>
    <templateTypes>
      <add templateType="Document" bookmarkAbbreviation="D" />
      <add templateType="Section" bookmarkAbbreviation="S" />
      <add templateType="Entry" bookmarkAbbreviation="E" />
      <add templateType="Subentry" bookmarkAbbreviation="SE" />
      <add templateType="Unspecified" bookmarkAbbreviation="U" />
    </templateTypes>
  </bookmark>
  <!-- Tool Tips Import -->
  <toolTip configSource="Help\tooltip.xml" />
  <!-- Code System Alternatives -->
  <codeSystems>
    <alternatives>
      <add alternative="SNOMEDCT" codeSystemName="SNOMED CT" />
      <add alternative="SNOMED-CT" codeSystemName="SNOMED CT" />
      <add alternative="ICD-9" codeSystemName="ICD9CM" />
      <add alternative="ICD-10" codeSystemName="ICD10" />
      <add alternative="CVX" codeSystemName="CDC Vaccine Code" />
      <add alternative="CPT" codeSystemName="CPT4" />
      <add alternative="HCP" codeSystemName="HCPCS" />
      <add alternative="Administrative Sex" codeSystemName="HL7 Gender Codes" />
    </alternatives>
  </codeSystems>
  <!-- IG Types -->
  <igTypes>
    <fhirIgTypes>
      <add igTypeName="FHIR DSTU1" version="DSTU1" />
      <add igTypeName="FHIR DSTU2" version="DSTU2" />
      <add igTypeName="FHIR Latest" version="STU3" />
    </fhirIgTypes>
    <plugins>
      <add igTypeName="CDA" pluginAssembly="Trifolia.Plugins.RIMPlugin, Trifolia.Plugins" />
      <add igTypeName="eMeasure" pluginAssembly="Trifolia.Plugins.RIMPlugin, Trifolia.Plugins" />
      <add igTypeName="HQMF R2" pluginAssembly="Trifolia.Plugins.HQMFPlugin, Trifolia.Plugins" />
      <add igTypeName="FHIR DSTU1" pluginAssembly="Trifolia.Plugins.FHIR.DSTU1Plugin, Trifolia.Plugins" />
      <add igTypeName="FHIR DSTU2" pluginAssembly="Trifolia.Plugins.FHIR.DSTU2Plugin, Trifolia.Plugins" />
      <add igTypeName="FHIR Latest" pluginAssembly="Trifolia.Plugins.FHIR.STU3Plugin, Trifolia.Plugins" />
    </plugins>
  </igTypes>
  <!-- JIRA Configuration -->
  <jira>
    <priorities>
      <add id="6" name="None" />
      <add id="1" name="Blocker" />
      <add id="2" name="Critical" />
      <add id="3" name="Major" />
      <add id="4" name="Minor" />
      <add id="5" name="Trivial" />
    </priorities>
    <types>
      <add id="7" name="Question" />
      <add id="8" name="Bug/Defect" />
      <add id="10" name="Feature Request" />
    </types>
  </jira>
  <!-- Application Settings -->
  <appSettings file="appSettings.user.config">
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="LogInformation" value="True" />
    <add key="DefaultBaseUrl" value="https://trifolia.lantanagroup.com" />
    <add key="CardinalityZeroToOne" value="zero or one [0..1]" />
    <add key="CardinalityOneToOne" value="exactly one [1..1]" />
    <add key="CardinalityAtLeastOne" value="at least one [1..*]" />
    <add key="CardinalityZeroOrMore" value="zero or more [0..*]" />
    <add key="CardinalityZero" value="[0..0]" />
    <add key="IGTypeSchemaLocation" value="Schemas" />
    <add key="PhinVadsServiceUrl" value="http://phinvads.cdc.gov/vocabService/v2" />
    <add key="HL7LoginUrlFormat" value="http://hl7.amg-hq.net/tools/signup_redirect.cfm?apiKey={0}&amp;returnUrl={1}" />
    <add key="HL7RoseTreeLocation" value="c:\ProgramData\Trifolia\hl7_rim_repo.xml" />
    <add key="MailEnableSSL" value="True" />
    <add key="RecaptchaVerifyUrl" value="https://www.google.com/recaptcha/api/siteverify" />
    <add key="RecaptchaVerifyMethod" value="POST" />
    <add key="RecaptchaFormFieldName" value="g-recaptcha-response" />
    <add key="RecaptchaAllowBypass" value="True" />
    <add key="EnableJiraSupport" value="False" />
    <add key="HL7DisclaimerUrl" value="http://hl7.amg-hq.net/tools/compliance_redirect.cfm" />
    <add key="HL7MemberRole" value="HL7 Members" />
    <add key="HL7OrganizationName" value="HL7" />
    <add key="HL7StaffRole" value="HL7 Members" />
    <add key="HL7BoardRole" value="HL7 Members" />
    <add key="HL7CoChairRole" value="HL7 Members" />
    <add key="HL7ApiKey" value="" />
    <add key="HL7SharedKey" value="" />
    <add key="RecaptchaSecret" value="" />
    <add key="SupportEmailTo" value="" />
    <add key="DefaultJiraEndpoint" value="" />
    <add key="DefaultJiraTaskType" value="" />
    <add key="DefaultJiraProject" value="" />
    <add key="DefaultJiraUsername" value="" />
    <add key="DefaultJiraPassword" value="" />
    <add key="SharedSecret" value="" />
    <add key="TrustedServers" value="" />
    <add key="MailHost" value="" />
    <add key="MailUser" value="" />
    <add key="MailPassword" value="" />
    <add key="MailFromAddress" value="" />
    <add key="MailPort" value="" />

    <!-- Overrides the default "TrifoliaDatabase" connection string above with an environment-specific connection string -->
    <add key="DatabaseConnectionString" value="" />

    <add key="OAuth2AuthorizationEndpoint" value="" />
    <add key="OAuth2TokenEndpoint" value="" />
    <add key="OAuth2UserInfoEndpoint" value="" />
    <add key="OAuth2ClientIdentifier" value="" />
    <add key="OAuth2ClientSecret" value="" />
  </appSettings>
  <applicationSettings>
    <Trifolia.Web.Properties.Settings>
      <setting name="WhatsNewItems" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Users can requests permissions to implementation guides they don't have access to.</string>
            <string>Newly granted permissions have the option to send out notification emails directly from Trifolia.</string>
            <string>MS Word Export settings allow you to define individual value set member maximums for each value set.</string>
            <string>Implementation guide editors have the option to define default MS Word export settings.</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DidYouKnowItems" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Having trouble? Look for the ? bubble or try hovering your mouse over the link or header for a more detailed description.</string>
            <string>In most grids, the "Add" (or "New") button is in the header or footer of the grid.</string>
            <string>Changes are not persisted until the "Save", "Update" or "OK" button is pressed. For example, when editing a template any updated constraint is not saved permanently until you press the "Save" button at the bottom-left of the template editor.</string>
            <string>The template editor has three different constraint editor views (selected in the bottom-right of the editor): Analyst, Editor and Engineer.</string>
            <string>Template authors with the edit-access to an implementation guide can select "default settings" for an MS Word Export.</string>
            <string>Once an implementation guide has been published, value sets used by the implementation guide become locked and can only be modified by terminology admins.</string>
            <string>If you don't have access to an implementation guide, you may be able to "Request Access" to the implementation guide view the "Browse Implementation Guides" screen. Requesting access sends a notification email to the access manager of the implementation guide.</string>
            <string>OIDs are now considered "identifiers" in Trifolia. This change now treats identifiers more generically then OIDs. For templates, identifiers can be a single OID (ex: urn:oid:XXX), a versioned OID (ex: urn:hl7ii:OID:DATE) or an HTTP/S address. For value sets and code systems, identifiers can be a single OID or an HTTP identifier (to support FHIR).</string>
            <string>Trifolia's template editor is based on XML Schemas. Trifolia is not restricted to editing templates for just CDA, it can define templates for E-Measures and also define profiles for FHIR. Because Trifolia uses XML Schema, in theory, any schema can be loaded into Trifolia and used with the template editor; after the schema has been properly tested within Trifolia.</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="JoinGroupEmailSubject" serializeAs="String">
        <value>Request to join Trifolia group</value>
      </setting>
      <setting name="JoinGroupEmailBodyHtml" serializeAs="String">
        <value>&lt;html&gt;&lt;body&gt;{0} {1} ({2}) has requested to join the group "{3}". Click &lt;a href="{4}" target="_new"&gt;here&lt;/a&gt; to edit the group and grant the user membership.&lt;/body&gt;&lt;/html&gt;</value>
      </setting>
      <setting name="JoinGroupEmailBodyText" serializeAs="String">
        <value>{0} {1} ({2}) has requested to join the group "{3}". Go to {4} to edit the group and grant the user membership.</value>
      </setting>
    </Trifolia.Web.Properties.Settings>
    <Trifolia.Generation.Properties.Settings configSource="Trifolia.Generation.config" />
  </applicationSettings>
  <!-- Web Server Settings -->
  <log4net debug="true">
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="trifolia.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <trace enabled="true" pageOutput="false" requestLimit="40" localOnly="false" />
    <!-- AUTHENTICATION -->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" cookieless="UseCookies" slidingExpiration="true" defaultUrl="~/home/index" timeout="28800" />
    </authentication>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="50000" executionTimeout="300" maxQueryStringLength="2097151" />
    <pages validateRequest="false" clientIDMode="AutoID" enableSessionState="true">
      <controls>
        <add src="~/Views/Shared/UserControls/Head.ascx" tagName="Head" tagPrefix="tdb" />
        <add tagPrefix="mvc" namespace="Microsoft.Web.Mvc.Controls" assembly="Microsoft.Web.Mvc" />
        <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" />
      </controls>
      <namespaces>
        <add namespace="Trifolia.Config" />
        <add namespace="Trifolia.Authorization" />
        <add namespace="Trifolia.Web" />
        <add namespace="System.Linq" />
        <add namespace="System.Data" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Data.Entity" />
        <add namespace="BotDetect.Web.Mvc" />
      </namespaces>
    </pages>
    <customErrors mode="On" defaultRedirect="/Home/Error" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpModules />
    <httpHandlers>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </httpHandlers>
    <!--
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="20"/>
    -->
    <globalization culture="auto" uiCulture="auto" />
    <sessionState timeout="60" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2097151000" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="BotDetectCaptchaHandler" />
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <urlCompression doStaticCompression="false" doDynamicCompression="true" dynamicCompressionBeforeCache="false" />
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/json; charset=utf-8" enabled="true" />
      </dynamicTypes>
    </httpCompression>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="jirasoapservice-v2SoapBinding" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- Leave address attribute blank. It will be populated programmatically based on the appSetting "DefaultJiraEndpoint" -->
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="jirasoapservice-v2SoapBinding" contract="JiraSoapService" name="jirasoapservice-v2" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.9004" newVersion="3.4.1.9004" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Routing" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <legacyHMACWarning enabled="0" />
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
		     to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		 -->
  </runtime>
  <location path="Help">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/HL7Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="api">
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough">
        <clear />
      </httpErrors>
    </system.webServer>
  </location>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <botDetect helpLinkEnabled="true" helpLinkMode="image" />
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <dotNetOpenAuth>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
    <!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. -->
    <!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ -->
    <openid>
      <relyingParty>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
            <add endpoint="https://www.google.com/accounts/o8/ud" />
          </trustedProviders>-->
        </security>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
               with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
        </behaviors>
      </relyingParty>
    </openid>
  </dotNetOpenAuth>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
         which is necessary for OpenID urls with unicode characters in the domain/host name.
         It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
</configuration>
