<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ADConnectionString" connectionString="%AD_CONNECTION_STRING%"
         xdt:Transform="Insert" />
    <add name="TrifoliaDatabase" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=%DATABASE_SERVER%;initial catalog=%DATABASE_NAME%;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Locator="Match(name)" xdt:Transform="Replace" />
  </connectionStrings>

  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="GenericError.html" xdt:Transform="Replace" />

    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <outboundRules>
        <clear/>
      </outboundRules>
      <rules>
        <clear/>
        <rule name="HTTP -> HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="trifolia.lantanagroup.com" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <appSettings>
    <add key="SmtpToEmail" value="trifoliasupport@hl7.org" 
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <applicationSettings>
    <Trifolia.ImplementationGuideGeneration.Properties.Settings>
      <setting name="VocabularyServiceValueSetFormat" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">%VOCABULARY_SERVICE_BASE_URL%/api/Terminology/Export/ValueSet/{0}</value>
      </setting>
      <setting name="VocabularyServiceImplementationGuideFormat" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">%VOCABULARY_SERVICE_BASE_URL%/api/Terminology/Export/ImplementationGuide/{0}</value>
      </setting>
    </Trifolia.ImplementationGuideGeneration.Properties.Settings>

    <Trifolia.Web.Properties.Settings>
      <setting name="HL7LoginUrlFormat" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">http://www.hl7.org/tools/signup_redirect.cfm?apiKey={0}&amp;returnUrl={1}</value>
      </setting>
      <setting name="RecaptchaAllowBypass" serializeAs="String" xdt:Locator="Match(name)">
        <value>False</value>
      </setting>
    </Trifolia.Web.Properties.Settings>

    <Trifolia.Authentication.Properties.Settings>
      <setting name="HL7DisclaimerUrl" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">https://www.HL7.org/tools/compliance_redirect.cfm</value>
      </setting>
    </Trifolia.Authentication.Properties.Settings>
  </applicationSettings>

  <log4net debug="false" xdt:Transform="SetAttributes">
    <root>
      <level value="WARN" xdt:Transform="SetAttributes" />
    </root>
  </log4net>
</configuration>