<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="TrifoliaDatabase" connectionString="data source=%DATABASE_SERVER%;initial catalog=%DATABASE_NAME%;integrated security=True;multipleactiveresultsets=True" providerName="System.Data.SqlClient"
         xdt:Locator="Match(name)" xdt:Transform="Replace" />
  </connectionStrings>

  <system.web>
    <machineKey validationKey="%VALIDATION_KEY%" decryptionKey="%DECRYPTION_KEY%" validation="SHA1" xdt:Transform="Replace" />
    <customErrors mode="RemoteOnly" defaultRedirect="GenericError.html" xdt:Transform="Replace" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <outboundRules>
        <clear/>
      </outboundRules>
      <rules>
        <clear/>
        <rule name="HTTP -> HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="trifolia.lantanagroup.com" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <appSettings>
    <add key="SmtpToEmail" value="trifolia@lantanagroup.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <log4net debug="false" xdt:Transform="SetAttributes">
    <root>
      <level value="WARN" xdt:Transform="SetAttributes" />
    </root>
  </log4net>
</configuration>