<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ADConnectionString" connectionString=""
         xdt:Locator="Match(name)" xdt:Transform="Remove" />
    <add name="TrifoliaDatabase" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=%DATABASE_SERVER%;initial catalog=%DATABASE_NAME%;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Locator="Match(name)" xdt:Transform="Replace" />
  </connectionStrings>
  
  <applicationSettings>
    <Trifolia.ImplementationGuideGeneration.Properties.Settings>
      <setting name="VocabularyServiceValueSetFormat" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">%VOCABULARY_SERVICE_BASE_URL%/api/Terminology/Export/ValueSet/{0}</value>
      </setting>
      <setting name="VocabularyServiceImplementationGuideFormat" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">%VOCABULARY_SERVICE_BASE_URL%/api/Terminology/Export/ImplementationGuide/{0}</value>
      </setting>
    </Trifolia.ImplementationGuideGeneration.Properties.Settings>
  </applicationSettings>
 
</configuration>