<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="bookmark" type="Trifolia.Config.BookmarkSection, Trifolia.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
    <section name="codeSystems" type="Trifolia.Config.CodeSystemsSection, Trifolia.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
    <section name="igTypes" type="Trifolia.Config.IGTypeSection, Trifolia.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
    <section name="jira" type="Trifolia.Config.JiraSection, Trifolia.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Trifolia.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Trifolia.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Trifolia.Generation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Trifolia.Authentication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Trifolia.Authorization.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TrifoliaDatabase" connectionString="data source=MSSQLSERVER;initial catalog=templatedb;integrated security=True;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- Application Settings -->
  <appSettings file="appSettings.user.config">
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="UmlsValidateUrl" value="https://uts-ws.nlm.nih.gov/restful/isValidUMLSUser" />
    <add key="UmlsLicenseCode" value="" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="LogInformation" value="True" />
    <add key="DefaultBaseUrl" value="https://trifolia.lantanagroup.com" />
    <add key="CardinalityZeroToOne" value="zero or one [0..1]" />
    <add key="CardinalityOneToOne" value="exactly one [1..1]" />
    <add key="CardinalityAtLeastOne" value="at least one [1..*]" />
    <add key="CardinalityZeroOrMore" value="zero or more [0..*]" />
    <add key="CardinalityZero" value="[0..0]" />
    <add key="IGTypeSchemaLocation" value="~\App_Data\Schemas" />
    <add key="PhinVadsServiceUrl" value="https://phinvads.cdc.gov/vocabService/v2" />
    <add key="HL7RoseTreeLocation" value="c:\ProgramData\Trifolia\hl7_rim_repo.xml" />
    <add key="MailEnableSSL" value="True" />
    <add key="EnableJiraSupport" value="False" />
    <add key="SupportEmailTo" value="" />
    <add key="DefaultSupportMethod" value="URL" />
    <add key="JiraIssueEndpoint" value="" />
    <add key="JiraProject" value="" />
    <add key="JiraUsername" value="" />
    <add key="JiraPassword" value="" />
    <add key="JiraUserEndpoint" value="" />
    <add key="JiraLabels" value="support-request" />
    <add key="DefaultJiraTaskType" value="" />
    <add key="RedirectURL" value="https://github.com/lantanagroup/trifolia/issues" />
    <add key="SharedSecret" value="" />
    <add key="TrustedServers" value="" />
    <add key="MailHost" value="" />
    <add key="MailUser" value="" />
    <add key="MailPassword" value="" />
    <add key="MailFromAddress" value="" />
    <add key="MailPort" value="" />
    <add key="FhirSTU3Package" value="" />
    <add key="FhirIGPublisherDownload" value="http://hl7-fhir.github.io/org.hl7.fhir.igpublisher.jar" />
    <add key="LatestFhirIGPublisherLocation" value="c:\ProgramData\Trifolia\org.hl7.fhir.igpublisher.jar" />

    <!-- Overrides the default "TrifoliaDatabase" connection string above with an environment-specific connection string -->
    <add key="DatabaseConnectionString" value="" />

    <add key="OAuth2AuthorizationEndpoint" value="" />
    <add key="OAuth2TokenEndpoint" value="" />
    <add key="OAuth2UserInfoEndpoint" value="" />
    <add key="OAuth2ClientIdentifier" value="" />
    <add key="OAuth2ClientSecret" value="" />

    <add key="MailChimpBaseUrl" value="" />
    <add key="MailChimpApiKey" value="" />
    <add key="MailChimpReleaseAnnouncementList" value="" />
  </appSettings>
  <!-- Bookmark Abbreviations -->
  <bookmark>
    <templateTypes>
      <add templateType="Document" bookmarkAbbreviation="D" />
      <add templateType="Section" bookmarkAbbreviation="S" />
      <add templateType="Entry" bookmarkAbbreviation="E" />
      <add templateType="Subentry" bookmarkAbbreviation="SE" />
      <add templateType="Unspecified" bookmarkAbbreviation="U" />
    </templateTypes>
  </bookmark>
  <!-- Code System Alternatives -->
  <codeSystems>
    <alternatives>
      <add alternative="SNOMEDCT" codeSystemName="SNOMED CT" />
      <add alternative="SNOMED-CT" codeSystemName="SNOMED CT" />
      <add alternative="ICD-9" codeSystemName="ICD9CM" />
      <add alternative="ICD-10" codeSystemName="ICD10" />
      <add alternative="CVX" codeSystemName="CDC Vaccine Code" />
      <add alternative="CPT" codeSystemName="CPT4" />
      <add alternative="HCP" codeSystemName="HCPCS" />
      <add alternative="Administrative Sex" codeSystemName="HL7 Gender Codes" />
    </alternatives>
  </codeSystems>
  <!-- JIRA Configuration -->
  <jira>
    <priorities>
      <add id="6" name="None" />
      <add id="1" name="Blocker" />
      <add id="2" name="Critical" />
      <add id="3" name="Major" />
      <add id="4" name="Minor" />
      <add id="5" name="Trivial" />
    </priorities>
    <types>
      <add id="7" name="Question" />
      <add id="8" name="Bug/Defect" />
      <add id="10" name="Feature Request" />
    </types>
  </jira>
  <applicationSettings>
    <Trifolia.Web.Properties.Settings>
      <setting name="JoinGroupEmailSubject" serializeAs="String">
        <value>Request to join Trifolia group</value>
      </setting>
      <setting name="JoinGroupEmailBodyHtml" serializeAs="String">
        <value>&lt;html&gt;&lt;body&gt;{0} {1} ({2}) has requested to join the group "{3}". Click &lt;a href="{4}" target="_new"&gt;here&lt;/a&gt; to edit the group and grant the user membership.&lt;/body&gt;&lt;/html&gt;</value>
      </setting>
      <setting name="JoinGroupEmailBodyText" serializeAs="String">
        <value>{0} {1} ({2}) has requested to join the group "{3}". Go to {4} to edit the group and grant the user membership.</value>
      </setting>
    </Trifolia.Web.Properties.Settings>
    <Trifolia.Generation.Properties.Settings configSource="Trifolia.Generation.config" />
  </applicationSettings>
  <!-- Web Server Settings -->
  <log4net debug="true">
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="trifolia.log.xml" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j" />
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
    <!-- Specify the level for some specific categories -->
    <logger name="DotNetOpenAuth">
      <level value="ALL" />
    </logger>
  </log4net>
  <system.web>
    <!-- machineKey is necessary for certain installations (though not all) of IIS. Without it, tracking the logged-in user with forms auth cookies fails. -->
    <machineKey validationKey="87AC8F432C8DB844A4EFD024301AC1AB5808BEE9D1870689B63794D33EE3B55CDB315BB480721A107187561F388C6BEF5B623BF31E2E725FC3F3F71A32BA5DFC" decryptionKey="E001A307CCC8B1ADEA2C55B1246CDCFE8579576997FF92E7" validation="SHA1" />
    <trace enabled="true" pageOutput="false" requestLimit="40" localOnly="false" />
    <!-- AUTHENTICATION -->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" cookieless="UseCookies" slidingExpiration="true" defaultUrl="~/home/index" timeout="120" />
    </authentication>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="50000" executionTimeout="300" maxQueryStringLength="2097151" />
    <pages validateRequest="false" clientIDMode="AutoID">
      <controls>
        <add src="~/Views/Shared/UserControls/Head.ascx" tagName="Head" tagPrefix="tdb" />
        <add tagPrefix="mvc" namespace="Microsoft.Web.Mvc.Controls" assembly="Microsoft.Web.Mvc" />
        
      </controls>
      <namespaces>
        <add namespace="Trifolia.Config" />
        <add namespace="Trifolia.Authorization" />
        <add namespace="Trifolia.Web" />
        <add namespace="System.Linq" />
        <add namespace="System.Data" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Data.Entity" />
      </namespaces>
    </pages>
    <customErrors mode="Off" defaultRedirect="/Home/Error" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpModules />
    
    <globalization culture="auto" uiCulture="auto" />
    <sessionState timeout="120" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
    
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2097151000" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      
      
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <urlCompression doStaticCompression="false" doDynamicCompression="true" dynamicCompressionBeforeCache="false" />
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/json; charset=utf-8" enabled="true" />
      </dynamicTypes>
    </httpCompression>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="jirasoapservice-v2SoapBinding" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- Leave address attribute blank. It will be populated programmatically based on the appSetting "DefaultJiraEndpoint" -->
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="jirasoapservice-v2SoapBinding" contract="JiraSoapService" name="jirasoapservice-v2" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.9004" newVersion="3.4.1.9004" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Routing" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Hl7.FhirPath" publicKeyToken="d706911480550fc3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.4.2.0" newVersion="0.4.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Hl7.Fhir.STU3.Core" publicKeyToken="d706911480550fc3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.93.4.0" newVersion="0.93.4.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
		     to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		 -->
  </runtime>
  <location path="Help">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/HL7Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="api">
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough">
        <clear />
      </httpErrors>
    </system.webServer>
  </location>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <dotNetOpenAuth>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
    <!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. -->
    <!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ -->
    <openid>
      <relyingParty>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
            <add endpoint="https://www.google.com/accounts/o8/ud" />
          </trustedProviders>-->
        </security>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
               with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
        </behaviors>
      </relyingParty>
    </openid>
  </dotNetOpenAuth>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
         which is necessary for OpenID urls with unicode characters in the domain/host name.
         It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
</configuration>
