/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
a.rvts11, span.rvts11
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts12 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts13, span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts14
{
 font-size: 12pt;
 font-family: 'Garamond';
}
span.rvts15
{
 font-size: 14pt;
 font-family: 'Garamond';
 font-style: italic;
 font-weight: bold;
}
span.rvts16
{
 font-size: 12pt;
 font-family: 'Garamond';
 font-weight: bold;
}
span.rvts17
{
 font-size: 12pt;
 font-family: 'Garamond';
 font-style: italic;
}
span.rvts18
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts19
{
 font-size: 11pt;
 font-family: 'Calibri';
 color: #000000;
}
span.rvts20
{
 font-weight: bold;
}
span.rvts21
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts22
{
 font-size: 13pt;
 font-weight: bold;
}
span.rvts23
{
 font-size: 12pt;
 font-family: 'Garamond';
 color: #190000;
}
span.rvts24
{
}
span.rvts25
{
 font-style: italic;
}
span.rvts26
{
 font-weight: bold;
}
span.rvts27
{
 font-size: 14pt;
 font-weight: bold;
}
span.rvts28
{
 font-family: 'Garamond';
 color: #190000;
}
span.rvts29
{
 color: #190000;
}
span.rvts30
{
 text-decoration: underline;
}
span.rvts31
{
 font-style: italic;
}
span.rvts32
{
 font-weight: bold;
 text-decoration: underline;
}
span.rvts33
{
 font-size: 7pt;
 vertical-align: super;
}
span.rvts34
{
 font-size: 9pt;
 font-style: italic;
 font-weight: bold;
 vertical-align: sub;
}
span.rvts35
{
}
a.rvts36, span.rvts36
{
 text-decoration: none;
}
a.rvts37, span.rvts37
{
 text-decoration: none;
}
span.rvts38
{
 font-family: 'Consolas';
}
span.rvts39
{
 font-style: italic;
}
span.rvts40
{
 color: #3333ff;
 text-decoration: underline;
}
span.rvts41
{
 color: ;
}
span.rvts42
{
 font-size: 13pt;
 font-weight: bold;
 color: ;
}
span.rvts43
{
 color: ;
 text-decoration: underline;
}
span.rvts44
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
 color: ;
}
span.rvts45
{
 font-size: 12pt;
 font-family: 'Garamond';
 font-weight: bold;
}
span.rvts46
{
 font-size: 12pt;
 font-family: 'Garamond';
 font-weight: bold;
}
span.rvts47
{
 font-size: 12pt;
 font-family: 'Garamond';
}
span.rvts48
{
 font-size: 12pt;
 font-family: 'Garamond';
 font-style: italic;
 color: #190000;
}
span.rvts49
{
 font-size: 12pt;
 font-family: 'Garamond';
 font-weight: bold;
 color: #190000;
}
a.rvts50, span.rvts50
{
 font-size: 12pt;
 font-family: 'Garamond';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts51
{
 font-size: 13pt;
 font-family: 'Garamond';
 font-weight: bold;
}
span.rvts52
{
 font-size: 12pt;
 font-family: 'Garamond';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts53
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts54
{
 font-size: 12pt;
 font-family: 'Garamond';
 font-style: italic;
 font-weight: bold;
}
span.rvts55
{
 font-size: 9pt;
 font-weight: bold;
}
span.rvts56
{
}
span.rvts57
{
}
span.rvts58
{
 font-weight: bold;
}
span.rvts59
{
 font-family: 'Calibri';
 color: #000000;
}
span.rvts60
{
 font-size: 16pt;
 font-weight: bold;
}
span.rvts61
{
 font-style: italic;
}
span.rvts62
{
 background-color: #ffff00;
}
span.rvts63
{
 color: #000000;
}
a.rvts64, span.rvts64
{
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps6
{
 margin: 0px 0px 8px 0px;
}
.rvps7
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps8
{
}
.rvps9
{
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
}
.rvps10
{
 margin: 1px 1px 1px 1px;
}
.rvps11
{
 margin: 0px 0px 0px 24px;
}
.rvps12
{
}
.rvps13
{
 margin: 0px 0px 0px 1px;
}
.rvps14
{
 widows: 2;
 orphans: 2;
 margin: 0px 0px 8px 0px;
}
.rvps15
{
 text-align: center;
 margin: 0px 0px 8px 0px;
}
.rvps16
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps17
{
}
.rvps18
{
}
.rvps19
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps20
{
 line-height: 17px;
 margin: 0px 0px 8px 0px;
}
.rvps21
{
 text-align: center;
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 padding: 1px 5px 1px 5px;
 margin: 0px 0px 6px 0px;
}
.rvps22
{
 line-height: 15px;
 page-break-after: avoid;
 margin: 3px 0px 3px 0px;
}
.rvps23
{
 line-height: 17px;
 margin: 0px 0px 8px 48px;
}
.rvps24
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps25
{
 margin: 0px 0px 0px 48px;
}
.rvps26
{
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: decimal;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: decimal;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: lower-alpha;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: lower-roman;}
