<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Trifolia.Generation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <applicationSettings>
    <Trifolia.Generation.Properties.Settings>
      <setting name="ConformanceVerbStyle" serializeAs="String">
        <value>keyword</value>
      </setting>
      <setting name="TemplateLocationStyle" serializeAs="String">
        <value>BracketData</value>
      </setting>
      <setting name="CardinalityStyle" serializeAs="String">
        <value>normal</value>
      </setting>
      <setting name="ConstraintContextStyle" serializeAs="String">
        <value>XMLnameBold</value>
      </setting>
      <setting name="NarrativeStyle" serializeAs="String">
        <value>normal</value>
      </setting>
      <setting name="VocabularyConstraintStyle" serializeAs="String">
        <value>XMLname</value>
      </setting>
      <setting name="LinkStyle" serializeAs="String">
        <value>HyperlinkCourierBold</value>
      </setting>
      <setting name="TableHeadingStyle" serializeAs="String">
        <value>TableHead</value>
      </setting>
      <setting name="TableContentStyle" serializeAs="String">
        <value>TableText</value>
      </setting>
      <setting name="TemplateDescriptionStyle" serializeAs="String">
        <value>BodyText</value>
      </setting>
      <setting name="TemplateHeaderStyle" serializeAs="String">
        <value>Heading2nospace</value>
      </setting>
      <setting name="TemplateTypeHeadingStyle" serializeAs="String">
        <value>Heading1</value>
      </setting>
      <setting name="TableLinkStyle" serializeAs="String">
        <value>HyperlinkText9pt</value>
      </setting>
      <setting name="TemplateTypeDetailsStyle" serializeAs="String">
        <value>BodyText</value>
      </setting>
      <setting name="TemplateOidStyle" serializeAs="String">
        <value>XMLname</value>
      </setting>
      <setting name="BlankLinkText" serializeAs="String">
        <value>BodyText</value>
      </setting>
      <setting name="TemplateNotesStyle" serializeAs="String">
        <value>templatenotes</value>
      </setting>
      <setting name="TableCaptionStyle" serializeAs="String">
        <value>Caption</value>
      </setting>
      <setting name="VocabularyServiceValueSetFormat" serializeAs="String">
        <value>http://localhost:52489/RestfulVocabulary.ashx?ValueSetOid={0}</value>
      </setting>
      <setting name="VocabularyServiceImplementationGuideFormat" serializeAs="String">
        <value>http://localhost:52489/RestfulVocabulary.ashx?ImplementationGuideId={0}</value>
      </setting>
      <setting name="VocabularyPrefix" serializeAs="String">
        <value>voc</value>
      </setting>
      <setting name="TemplateHeaderSecondLevelStyle" serializeAs="String">
        <value>Heading3nospace</value>
      </setting>
      <setting name="PropertiesHeadingStyle" serializeAs="String">
        <value>Heading3nospace</value>
      </setting>
      <setting name="ConstraintHeadingStyle" serializeAs="String">
        <value>Heading4nospace</value>
      </setting>
    </Trifolia.Generation.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Hl7.FhirPath" publicKeyToken="d706911480550fc3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.4.2.0" newVersion="0.4.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Hl7.Fhir.STU3.Core" publicKeyToken="d706911480550fc3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.93.4.0" newVersion="0.93.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>