<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="bookmark" type="Trifolia.Config.BookmarkSection, Trifolia.Config" requirePermission="false" />
    <section name="organizationConfig" type="Trifolia.Config.OrganizationSection, Trifolia.Config" requirePermission="false" />
    <section name="codeSystems" type="Trifolia.Config.CodeSystemsSection, Trifolia.Config" requirePermission="false" />
    <section name="igTypes" type="Trifolia.Config.IGTypeSection, Trifolia.Config" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Trifolia.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Trifolia.ImplementationGuideGeneration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Trifolia.Authentication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="PreserveLoginUrl" value="true" />
    <add key="LogInformation" value="True" />
    <add key="DefaultBaseUrl" value="https://trifolia.lantanagroup.com" />
    <add key="CardinalityZeroToOne" value="zero or one [0..1]" />
    <add key="CardinalityOneToOne" value="exactly one [1..1]" />
    <add key="CardinalityAtLeastOne" value="at least one [1..*]" />
    <add key="CardinalityZeroOrMore" value="zero or more [0..*]" />
    <add key="CardinalityZero" value="[0..0]" />
    <add key="IGTypeSchemaLocation" value="Schemas" />
    <add key="PhinVadsServiceUrl" value="http://phinvads.cdc.gov/vocabService/v2" />
    <add key="DefaultJiraTaskType" value="" />
    <add key="DefaultJiraProject" value="" />
    <add key="DefaultJiraUsername" value="" />
    <add key="DefaultJiraPassword" value="" />
    <add key="HL7LoginUrlFormat" value="http://hl7.amg-hq.net/tools/signup_redirect.cfm?apiKey={0}&amp;returnUrl={1}" />
    <add key="HL7RoseTreeLocation" value="c:\ProgramData\Trifolia\hl7_rim_repo.xml" />
    <add key="MailHost" value="" />
    <add key="MailUser" value="" />
    <add key="MailPassword" value="" />
    <add key="MailFromAddress" value="" />
    <add key="MailPort" value="" />
    <add key="MailEnableSSL" value="True" />
    <add key="RecaptchaVerifyUrl" value="https://www.google.com/recaptcha/api/siteverify" />
    <add key="RecaptchaVerifyMethod" value="POST" />
    <add key="RecaptchaSecret" value="" />
    <add key="RecaptchaFormFieldName" value="g-recaptcha-response" />
    <add key="RecaptchaAllowBypass" value="True" />
    <add key="SupportEmailTo" value="" />
    <add key="EnableJiraSupport" value="False" />
    <add key="HL7DisclaimerUrl" value="http://hl7.amg-hq.net/temp/mike/webservices/compliance_redirect.cfm" />
    <add key="HL7MemberRole" value="HL7 Members" />
    <add key="HL7OrganizationName" value="HL7" />
    <add key="HL7StaffRole" value="HL7 Members" />
    <add key="HL7BoardRole" value="HL7 Members" />
    <add key="HL7CoChairRole" value="HL7 Members" />
    <add key="SharedSecret" value="" />
    <add key="TrustedServers" value="" />
    <add key="HL7ApiKey" value="test_api_key" />
    <add key="HL7SharedKey" value="test_shared_key" />
  </appSettings>
  <bookmark>
    <templateTypes>
      <add templateType="Document" bookmarkAbbreviation="D" />
      <add templateType="Section" bookmarkAbbreviation="S" />
      <add templateType="Entry" bookmarkAbbreviation="E" />
      <add templateType="Subentry" bookmarkAbbreviation="SE" />
      <add templateType="Unspecified" bookmarkAbbreviation="U" />
    </templateTypes>
  </bookmark>
  <organizationConfig defaultProvider="TEST">
    <organizations>
      <add organizationName="LCG" providerName="TEST" isInternal="true" />
      <add organizationName="HL7" providerName="TEST" isInternal="false" />
    </organizations>
  </organizationConfig>
  <codeSystems>
    <alternatives>
      <add alternative="SNOMED-CT" codeSystemName="SNOMEDCT" />
      <add alternative="SNOMED CT" codeSystemName="SNOMEDCT" />
      <add alternative="ICD-9" codeSystemName="ICD9CM" />
      <add alternative="ICD-10" codeSystemName="ICD10" />
    </alternatives>
  </codeSystems>
  <igTypes>
    <fhirIgTypes>
      <add igTypeName="FHIR DSTU1" version="DSTU1" />
      <add igTypeName="FHIR DSTU2" version="DSTU2" />
      <add igTypeName="FHIR Latest" version="STU3" />
    </fhirIgTypes>
    <plugins>
      <add igTypeName="CDA" pluginAssembly="Trifolia.Plugins.RIMPlugin, Trifolia.Plugins, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add igTypeName="eMeasure" pluginAssembly="Trifolia.Plugins.RIMPlugin, Trifolia.Plugins, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add igTypeName="HQMF R2" pluginAssembly="Trifolia.Plugins.HQMFPlugin, Trifolia.Plugins, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add igTypeName="FHIR DSTU1" pluginAssembly="Trifolia.Plugins.FHIR.DSTU1Plugin, Trifolia.Plugins, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add igTypeName="FHIR DSTU2" pluginAssembly="Trifolia.Plugins.FHIR.DSTU2Plugin, Trifolia.Plugins, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add igTypeName="FHIR Latest" pluginAssembly="Trifolia.Plugins.FHIR.DSTU2Plugin, Trifolia.Plugins, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </plugins>
  </igTypes>
  <applicationSettings>
    <Trifolia.Shared.Properties.Settings>
      <setting name="IGTypeSchemaLocation" serializeAs="String">
        <value>.\Schemas</value>
      </setting>
    </Trifolia.Shared.Properties.Settings>
    <Trifolia.ImplementationGuideGeneration.Properties.Settings>
      <setting name="ConformanceVerbStyle" serializeAs="String">
        <value>keyword</value>
      </setting>
      <setting name="TemplateLocationStyle" serializeAs="String">
        <value>BracketData</value>
      </setting>
      <setting name="CardinalityStyle" serializeAs="String">
        <value>normal</value>
      </setting>
      <setting name="ConstraintContextStyle" serializeAs="String">
        <value>XMLnameBold</value>
      </setting>
      <setting name="NarrativeStyle" serializeAs="String">
        <value>normal</value>
      </setting>
      <setting name="VocabularyConstraintStyle" serializeAs="String">
        <value>XMLname</value>
      </setting>
      <setting name="LinkStyle" serializeAs="String">
        <value>HyperlinkCourierBold</value>
      </setting>
      <setting name="TableHeadingStyle" serializeAs="String">
        <value>TableHead</value>
      </setting>
      <setting name="TableContentStyle" serializeAs="String">
        <value>TableText</value>
      </setting>
      <setting name="TemplateDescriptionStyle" serializeAs="String">
        <value>BodyText</value>
      </setting>
      <setting name="TemplateHeaderStyle" serializeAs="String">
        <value>Heading2nospace</value>
      </setting>
      <setting name="TemplateTypeHeadingStyle" serializeAs="String">
        <value>Heading1</value>
      </setting>
      <setting name="TableLinkStyle" serializeAs="String">
        <value>HyperlinkText9pt</value>
      </setting>
      <setting name="TemplateTypeDetailsStyle" serializeAs="String">
        <value>BodyText</value>
      </setting>
      <setting name="TemplateOidStyle" serializeAs="String">
        <value>XMLname</value>
      </setting>
      <setting name="BlankLinkText" serializeAs="String">
        <value>BodyText</value>
      </setting>
      <setting name="TemplateNotesStyle" serializeAs="String">
        <value>templatenotes</value>
      </setting>
      <setting name="TableCaptionStyle" serializeAs="String">
        <value>Caption</value>
      </setting>
    </Trifolia.ImplementationGuideGeneration.Properties.Settings>
    <Trifolia.Authentication.Properties.Settings>
      <setting name="HL7DisclaimerUrl" serializeAs="String">
        <value>http://hl7.amg-hq.net/temp/mike/webservices/compliance_redirect.cfm</value>
      </setting>
    </Trifolia.Authentication.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.9004" newVersion="3.4.1.9004" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Routing" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
