<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{caption}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <form>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Text..." ng-model="searchText" />
            <div class="input-group-btn">
                <button type="submit" class="btn btn-default" ng-click="search()">Search</button>
            </div>
        </div>
    </form>

    <table class="table table-striped" ng-if="searchResults">
        <thead>
            <tr>
                <th>Name</th>
                <th>Identifier</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in searchResults.Items">
                <td>{{r.Name}}</td>
                <td>{{r.Oid}}</td>
                <td>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default btn-sm" ng-click="select(r)">Select</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="close()">Close</button>
</div>