body {
    padding: 0;
}

@media (min-width: 768px) {
    .navbar-brand {
        max-width: 450px;
    }
}

code {
    /* white-space: pre; */
    /* display: block; */
    /* border: 1px solid #ccc; */
    /* font-family: "Courier New", Courier, monospace; */
}

.heading-number {
    padding-right: 5px;
}

.table-of-contents {
    list-style: none;
    padding-left: 0px;
}

.navbar-brand {
    position: absolute;
    float: left;
    word-wrap: break-word;
    font-size: 14px;
    padding: 5px;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.main {
    padding-right: 40px;
    padding-left: 40px;
}

.nav-tree > li > a {
    padding: 3px 15px;
}

.download-button {
    position: fixed;
    bottom: 7px;
}

.download-button .btn {
    width: 96%;
}

.nav-tree .glyphicon {
    cursor: pointer;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}

.panel-heading a.collapsed:after {
    content:"\e080";
}

.page-header {
    margin: 10px 0 20px;
}

.loading-pane {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.4;
    filter: alpha(opacity=40);  /* For IE8 and earlier */
    color: #FFFFFF;
    font-size: 20px;
    z-index: 100000;
}

.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}

.table-filter td {
    border-bottom: 1px solid #ddd;
}

.highlight {
    background-color: yellow;
}

a[ng-click],
span[ng-click] {
    cursor: pointer;
}

/* Diagrams */

.paper {
   border: none;
   position: relative;
   width: 100%;
   height: 300px;
   overflow: scroll;
   margin-top: 6px;
}

.link-tools .tool-remove {
    display: none;
}

.link-tools .tool-options {
    display: none;
}

.constraint p {
    margin-bottom: 0px;
}

.template-type,
.template-hierarchy {
    margin-top: 10px;
}

.template-hierarchy ul {
    list-style-type: none;
}

.template-hierarchy .no-children {
    margin-left: 18px;
}

.template-type-filter {
    margin-bottom: -15px;
}

.search-description {
    width: 100%;
    max-height: 69px;
    overflow-y: hidden;
}

.search-template {
}

.pull-right.valueset-date {
    margin-right: 10px;
}

.volume1-content {
    margin-left: 25px;
    margin-right: 25px;
}

.volume1-content table {
    width: 100%;
}

.volume1-content table td,
.volume1-content table th {
    border: 1px solid #cccccc;
    padding: 5px;
}

a {
    color: #000000;
}

a:not(href):hover {
    color: #000000;
}

li.heading-level-2 {
    margin-left: 15px;
}

li.heading-level-3 {
    margin-left: 30px;
}

li.heading-level-4 {
    margin-left: 45px;
}

li.heading-level-5 {
    margin-left: 60px;
}

li.heading-level-6 {
    margin-left: 75px;
}

ol.table-of-contents li a span:not(:first-child) {
    margin-left:5px;
}

ol.table-of-contents li a span:first-child {
    font-weight: bold;
}